#works-outer-wrapper {
    background: #17181b;
    padding: 0 36px 18px 72px;
}

.work-item-wrapper.os-animation {
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    -o-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

#packery-wrapper {
    width: 100%;
    position: relative;
}

.packery-box {
    position: relative;
    float: left;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 18px;

    .packery-box-inner {
        background-color: #039be5;
        height: 100%;
    }

    &.large-box {
        width: 50%;
        width: -webkit-calc( 6/12 * 100% );
        width: calc( 6/12 * 100% );
    }

    &.wide-box {
        width: 50%;
        width: -webkit-calc( 6/12 * 100% );
        width: calc( 6/12 * 100% );
    }

    &.small-box {
        width: 25%;
        width: -webkit-calc( 3/12 * 100% );
        width: calc( 3/12 * 100% );
    }
}

#works-wrapper {
    margin-right: -36px;

    .work-item {
        padding-right: 36px;
        padding-top: 36px;
        //img {margin-top: 36px; }
    }

    .work-item-6 {
        width: 50%;

        @media (max-width: 959px) {
            width: 100%;
        }
    }

    .work-item-3 {
        width: 25%;

        @media (max-width: 959px) {
            width: 50%;
        }

        @media (max-width: 480px) {
            width: 100%;
        }
    }
}

#works-wrapper {
    .work-item-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        .work-item-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #00B3CF;
            @include opacity(0);
            z-index: 2;
            -webkit-transition: opacity 0.2s ease-in-out;
            -moz-transition: opacity 0.2s ease-in-out;
            -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
        }
    }
}

.work-item a {
    z-index: 3;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;

    .work-item-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        .work-item-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #00B3CF;
            @include opacity(0);
            z-index: 2;
            -webkit-transition: opacity 0.2s ease-in-out;
            -moz-transition: opacity 0.2s ease-in-out;
            -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
        }

        img {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .work-item-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            z-index: 4;
            width: 100%;

            .work-item-inner {
                @include opacity(0);
                -webkit-transition: opacity 0.2s ease-in-out,-webkit-transform 0.2s ease-in-out;
                -moz-transition: opacity 0.2s ease-in-out,-moz-transform 0.2s ease-in-out;
                -o-transition: opacity 0.2s ease-in-out,-o-transform 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out,-webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out;
                zoom: 1;
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -o-transform: scale(0.9);
                -ms-transform: scale(0.9);
                transform: scale(0.9);

                h3 {
                    font-family: $header-font-family;
                    font-weight: 600;
                    letter-spacing: -0.05em;
                    @include adjust-font-size-to( 32px, 1.8 );
                    color: #fff;
                    @include leader(0, $h3-font-size);
                    @include trailer(0.5, $h3-font-size);
                }

                h5 {
                    font-family: $header-font-family;
                    font-weight: 700;
                    letter-spacing: 0;
                    position: relative;
                    @include adjust-font-size-to( 14px, 1 );
                    @include leader(0, $h5-font-size);
                    @include trailer(1, $h5-font-size);
                    color: #fff;
                }
            }
        }
    }

    &:hover {
        img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .work-item-overlay {
            opacity: 0.95 !important;
        }

        .work-item-content {
            .work-item-inner {
                opacity: 1 !important;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                -webkit-transition-delay: 250ms;
                -moz-transition-delay: 250ms;
                -o-transition-delay: 250ms;
                transition-delay: 250ms;
            }
        }
    }
}


#packery-container {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin: 0;
            padding: 0;
            list-style-type: none;

            figure {
                position: relative;
            }
        }
    }
}

#packery-container {
    a {
        outline: 0;
    }

    .project-overlay {
        background-color: $blue;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transition: all 0.4s ease 0s;
            -moz-transition: all 0.4s ease 0s;
            -webkit-transition: all 0.4s ease 0s;
            -ms-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
        }

        .project-info {
            position: absolute;
            height: 100px;
            width: 100%;
            top: 50%;
            margin-top: -50px;
            text-align: center;

            .zoom-icon {
                left: 50%;
                margin-left: -20px;
                position: inherit;
                width: 40px;
                height: 40px;
                margin-top: 0;
                opacity: 1;
                background: url(images/zoom.png);
                background-size: 40px 40px;
                transition: all 0.3s ease 0.1s;
                -moz-transition: all 0.3s ease 0.2s;
                -webkit-transition: all 0.3s ease 0.2s;
                -ms-transition: all 0.3s ease 0.2s;
                -o-transition: all 0.3s ease 0.2s;
            }

            .project-name {
                color: #fff;
                text-transform: uppercase;
                margin-top: 50px;
                opacity: 1;
                transition: all 0.2s ease 0s;
                -moz-transition: all 0.2s ease 0s;
                -webkit-transition: all 0.2s ease 0s;
                -ms-transition: all 0.2s ease 0s;
                -o-transition: all 0.2s ease 0s;
            }

            .project-categories {
                font-size: 13px;
                color: #fff;
                opacity: 1;
                margin-top: 13px;
                transition: all 0.2s ease 0s;
                -moz-transition: all 0.2s ease 0s;
                -webkit-transition: all 0.2s ease 0s;
                -ms-transition: all 0.2s ease 0s;
                -o-transition: all 0.2s ease 0s;
            }
        }
    }
}


/* clearfix */
.packery:after {
    content: ' ';
    display: block;
    clear: both;
}

.grid-sizer {
    width: 23%;
}

.item {
    width: 23%;
}

.item:hover {
    cursor: pointer;
}

.item:hover .item-content {
    //border-color: white;
}

@include breakpoint($mobile) {

    .item {
        width: 100%;
    }
}

@include breakpoint($tablet) {

    .item {
        width: 48%;
    }
}

@include breakpoint($desktop) {
}


/* ---- isotope ---- */

.isotope-filters {
    display: table;
    margin: 20px auto;
}

.isotope-filters button {
    border: none;
    margin: 2px;
    line-height: 30px;
    padding: 0 20px;
    cursor: pointer;
}

.isotope-filters button:focus {
    outline: none;
    outline-style: none;
    outline-offset: 0;
}

.isotope-filters button.active {
    background: #0D8;
}

.isotope {
    background: #17181b;
    max-width: 100%;
    padding: 9px;
}

/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

.isotope-blog-listing {
    background: #17181b;
    max-width: 100%;
    padding: 9px;
}

/* clear fix */
.isotope-blog-listing:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .item ---- */

.isotope-item {
    float: left;
    width: 25%;
    padding: 9px;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .isotope-item-inner {
        background: #fff;
        width: 100%;
        height: 100%;
    }
}

.isotope-list-item {
    float: left;
    width: 16.6666667%;
    padding: 9px;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .isotope-item-inner {
        background: #fff;
        width: 100%;
        height: 100%;
    }
}


//WORK LISTING
.isotope-item-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .isotope-item-image {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .isotope-item-content {
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 4;

        .isotope-item-content-inner {
            width: 100%;
            @include opacity(0);
            -webkit-transition: opacity 0.2s ease-in-out,-webkit-transform 0.2s ease-in-out;
            -moz-transition: opacity 0.2s ease-in-out,-moz-transform 0.2s ease-in-out;
            -o-transition: opacity 0.2s ease-in-out,-o-transform 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out,-webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out;
            zoom: 1;
            -webkit-transform: scale(0.9);
            -moz-transform: scale(0.9);
            -o-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9);

            h3 {
                font-family: $header-font-family;
                font-weight: 600;
                letter-spacing: -0.05em;
                @include adjust-font-size-to( 28px, 1.8 );
                color: #fff;
                @include leader(0, $h3-font-size);
                @include trailer(0.5, $h3-font-size);
            }

            h5 {
                font-family: 'Hind';
                font-weight: 600;
                letter-spacing: 0;
                position: relative;
                @include adjust-font-size-to( 14px, 1 );
                @include leader(0, $h5-font-size);
                @include trailer(1, $h5-font-size);
                color: #fff;
            }

            .fa {
                color: #fff;
                @include adjust-font-size-to( 20px, 1 );
                @include leader(0, $h5-font-size);
                @include trailer(1, $h5-font-size);
            }
        }
    }

    .isotope-item-content-transition {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        width: 100%;

        .isotope-item-content-transition-blue, .isotope-item-content-transition-black {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            opacity: 0;
            z-index: 2;
        }

        .isotope-item-content-transition-blue {
            background-color: #04b4cd;
            width:100%;

        }

        .isotope-item-content-transition-black {
            background: #000000;
        }
    }

    .isotope-item-content-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #00B3CF;
        @include opacity(0);
        z-index: 2;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    &:hover {
        .isotope-item-image {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .isotope-item-content-inner {
            opacity: 1 !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition-delay: 250ms;
            -moz-transition-delay: 250ms;
            -o-transition-delay: 250ms;
            transition-delay: 250ms;
        }

        .isotope-item-content-overlay {
            @include opacity(0.95);
            -webkit-transition: opacity 0.2s ease-in-out;
            -moz-transition: opacity 0.2s ease-in-out;
            -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
        }
    }
}

//BLOG LISTING
.isotope-list-item-inner {
    width: 100%;
    height: 100%;
}

.isotope-list-item-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .isotope-list-item-image {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .isotope-list-item-content {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 4;

        .isotope-list-item-content-inner {
            width: 100%;
            @include opacity(1);

            h3 {
                font-family: $header-font-family;
                font-weight: 600;
                letter-spacing: 0;
                @include adjust-font-size-to( 18px, 1.3 );
                color: #fff;
                @include leader(0, $h3-font-size);
                @include trailer(0.5, $h3-font-size);
            }

            p {
                font-family: 'Hind';
                font-weight: 600;
                letter-spacing: 0;
                position: relative;
                @include adjust-font-size-to( 14px, 1 );
                @include leader(0, $h5-font-size);
                @include trailer(0, $h5-font-size);
                color: #fff;
            }
        }
    }

    .isotope-list-item-content-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include opacity(1);
        z-index: 2;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…g9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
        background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.75) 0%,transparent 50%);
        background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.75) 0%,transparent 50%);
        background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.75) 0%,transparent 50%);
        background-image: linear-gradient(to top,rgba(0,0,0,0.75) 0%,transparent 50%);
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    &:hover {
        .isotope-list-item-image {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -moz-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            -o-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .isotope-list-item-content-inner {
            opacity: 1 !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition-delay: 250ms;
            -moz-transition-delay: 250ms;
            -o-transition-delay: 250ms;
            transition-delay: 250ms;
        }

        .isotope-list-item-content-overlay {
            @include opacity(0.25);
        }
    }
}
