
/*  --------------------------------------------------
    uSkinned.net

  PALETTE
    -------------------------------------------------- */


/*  --------------------------------------------------
  TABLE OF CONTENTS
    -------------------------------------------------- 

  1.0 BACKGROUNDS
  2.0 TEXT
  3.0 BORDERS
  4.0 BUTTONS
  
  
  COLOURS 
  
  c1  $c1   $c1
  c2  $c2   $c2
  c3  $c3   $c3
  c4  $c4   $c4
  c5  $c5   $c5
  c6  $c6   $c6
  
  
*/
 /* BLUE / Main ACCENT COLOUR */
$c1: #04B4CD;

/* LIGHT GREY */
$c2: #eaeaea;

/* FONT GREY */
$c3: #303133;

/* MEDIUM GREY */
$c4: #323337;

/* DARK GREY */
$c5: #141516;

/* DARK BLUE 
$c6: #1d1d21; */
$c6: #17181b;

/* WHITE */
$c7: #ffffff;

/* OFF WHITE 2 */
$c8: #f7f7f7;

$c1-op: $c7;
$c2-op: $c3;
$c3-op: $c7;
$c4-op: $c7;
$c5-op: $c7;
$c6-op: $c7;
$c7-op: $c3;
$c8-op: $c3;

#wrapper {
    .main-accent-colour {
        color: $c1 !important;
    }

    .c1-accent {
        color: $c1 !important;
    }

    .c2-accent {
        color: $c2 !important;
    }

    .c3-accent {
        color: $c3 !important;
    }

    .c4-accent {
        color: $c4 !important;
    }

    .c5-accent {
        color: $c5 !important;
    }

    .c6-accent {
        color: $c6 !important;
    }
}


/*  --------------------------------------------------
  1.0 BACKGROUNDS
  -------------------------------------------------- */
  .c1-bg {
	a { color:#303133;-webkit-transition: all 0.2s ease-in-out 0s;-moz-transition: all 0.2s ease-in-out 0s;-ms-transition: all 0.2s ease-in-out 0s;transition: all 0.2s ease-in-out 0s;
		&:hover { text-decoration: underline; }
	}
  }

  .c2-bg, .c3-bg, .c4-bg, .c5-bg, .c6-bg, .c8-bg {
	  a { color: #04b4cd;-webkit-transition: all 0.2s ease-in-out 0s;-moz-transition: all 0.2s ease-in-out 0s;-ms-transition: all 0.2s ease-in-out 0s;transition: all 0.2s ease-in-out 0s;
		&:hover { text-decoration: underline; }
	  }
	}

  .c1-bg {
    background-color:$c1; background-color:rgba( $c1, 1);

    }
    .c1-bg.bg-perc_90 {
      background-color:rgba($c1,0.9);
      }
    .c1-bg.bg-perc_80 {
      background-color:rgba($c1,0.8);
      }
    .c1-bg.bg-perc_70 {
      background-color:rgba($c1,0.7);
      }
    .c1-bg.bg-perc_60 {
      background-color:rgba($c1,0.6);
      }
    .c1-bg.bg-perc_50 {
      background-color:rgba($c1,0.5);
      }
    .c1-bg.bg-perc_40 {
      background-color:rgba($c1,0.4);
      }
    .c1-bg.bg-perc_30 {
      background-color:rgba($c1,0.3);
      }
    .c1-bg.bg-perc_20 {
      background-color:rgba($c1,0.2);
      }
    .c1-bg.bg-perc_10 {
      background-color:rgba($c1,0.1);
      }
  
  .c2-bg {
    background-color:$c2; background-color:rgba($c2,1);
    }
    .c2-bg.bg-perc_90 {
      background-color:rgba($c2,0.9);
      }
    .c2-bg.bg-perc_80 {
      background-color:rgba($c2,0.8);
      }
    .c2-bg.bg-perc_70 {
      background-color:rgba($c2,0.7);
      }
    .c2-bg.bg-perc_60 {
      background-color:rgba($c2,0.6);
      }
    .c2-bg.bg-perc_50 {
      background-color:rgba($c2,0.5);
      }
    .c2-bg.bg-perc_40 {
      background-color:rgba($c2,0.4);
      }
    .c2-bg.bg-perc_30 {
      background-color:rgba($c2,0.3);
      }
    .c2-bg.bg-perc_20 {
      background-color:rgba($c2,0.2);
      }
    .c2-bg.bg-perc_10 {
      background-color:rgba($c2,0.1);
      }
    
  .c3-bg,
  .modal-backdrop, .modal-backdrop.in {
    background-color:$c3; background-color:rgba($c3,1);
    }
    .c3-bg.bg-perc_90 {
      background-color:rgba($c3,0.9);
        }
    .c3-bg.bg-perc_80 {
      background-color:rgba($c3,0.8);
        }
    .c3-bg.bg-perc_70 {
      background-color:rgba($c3,0.7);
        }
    .c3-bg.bg-perc_60 {
      background-color:rgba($c3,0.6);
        }
    .c3-bg.bg-perc_50 {
      background-color:rgba($c3,0.5);
        }
    .c3-bg.bg-perc_40 {
      background-color:rgba($c3,0.4);
        }
    .c3-bg.bg-perc_30 {
      background-color:rgba($c3,0.3);
        }
    .c3-bg.bg-perc_20 {
      background-color:rgba($c3,0.2);
        }
    .c3-bg.bg-perc_10 {
      background-color:rgba($c3,0.1);
        }
    
  .c4-bg {
    background-color:$c4; background-color:rgba($c4,1);
    }
    .c4-bg.bg-perc_90 {
      background-color:rgba($c4,0.9);
      }
    .c4-bg.bg-perc_80 {
      background-color:rgba($c4,0.8);
      }
    .c4-bg.bg-perc_70 {
      background-color:rgba($c4,0.7);
      }
    .c4-bg.bg-perc_60 {
      background-color:rgba($c4,0.6);
      }
    .c4-bg.bg-perc_50 {
      background-color:rgba($c4,0.5);
      }
    .c4-bg.bg-perc_40 {
      background-color:rgba($c4,0.4);
      }
    .c4-bg.bg-perc_30 {
      background-color:rgba($c4,0.3);
      }
    .c4-bg.bg-perc_20 {
      background-color:rgba($c4,0.2);
      }
    .c4-bg.bg-perc_10 {
      background-color:rgba($c4,0.1);
      }
    
  .c5-bg {
    background-color:$c5; background-color:rgba($c5,1);
    } 
    .c5-bg.bg-perc_90 {
      background-color:rgba($c5,0.9);
      }
    .c5-bg.bg-perc_80 {
      background-color:rgba($c5,0.8);
      }
    .c5-bg.bg-perc_70 {
      background-color:rgba($c5,0.7);
      }
    .c5-bg.bg-perc_60 {
      background-color:rgba($c5,0.6);
      }
    .c5-bg.bg-perc_50 {
      background-color:rgba($c5,0.5);
      }
    .c5-bg.bg-perc_40 {
      background-color:rgba($c5,0.4);
      }
    .c5-bg.bg-perc_30 {
      background-color:rgba($c5,0.3);
      }
    .c5-bg.bg-perc_20 {
      background-color:rgba($c5,0.2);
      }
    .c5-bg.bg-perc_10 {
      background-color:rgba($c5,0.1);
      }
      
  .c6-bg {
    background-color:$c6; background-color:rgba($c6,1);
    } 
    .c6-bg.bg-perc_90 {
      background-color:rgba($c6,0.9);
      }
    .c6-bg.bg-perc_80 {
      background-color:rgba($c6,0.8);
      }
    .c6-bg.bg-perc_70 {
      background-color:rgba($c6,0.7);
      }
    .c6-bg.bg-perc_60 {
      background-color:rgba($c6,0.6);
      }
    .c6-bg.bg-perc_50 {
      background-color:rgba($c6,0.5);
      }
    .c6-bg.bg-perc_40 {
      background-color:rgba($c6,0.4);
      }
    .c6-bg.bg-perc_30 {
      background-color:rgba($c6,0.3);
      }
    .c6-bg.bg-perc_20 {
      background-color:rgba($c6,0.2);
      }
    .c6-bg.bg-perc_10 {
      background-color:rgba($c6,0.1);
      }

  .c7-bg {
    background-color:$c7; background-color:rgba($c7,1);
    } 
    .c7-bg.bg-perc_90 {
      background-color:rgba($c7,0.9);
      }
    .c7-bg.bg-perc_80 {
      background-color:rgba($c7,0.8);
      }
    .c7-bg.bg-perc_70 {
      background-color:rgba($c7,0.7);
      }
    .c7-bg.bg-perc_60 {
      background-color:rgba($c7,0.6);
      }
    .c7-bg.bg-perc_50 {
      background-color:rgba($c7,0.5);
      }
    .c7-bg.bg-perc_40 {
      background-color:rgba($c7,0.4);
      }
    .c7-bg.bg-perc_30 {
      background-color:rgba($c7,0.3);
      }
    .c7-bg.bg-perc_20 {
      background-color:rgba($c7,0.2);
      }
    .c7-bg.bg-perc_10 {
      background-color:rgba($c7,0.1);
      }

  .c8-bg {
    background-color:$c8; background-color:rgba($c8,1);
    } 
    .c8-bg.bg-perc_90 {
      background-color:rgba($c8,0.9);
      }
    .c8-bg.bg-perc_80 {
      background-color:rgba($c8,0.8);
      }
    .c8-bg.bg-perc_70 {
      background-color:rgba($c8,0.7);
      }
    .c8-bg.bg-perc_60 {
      background-color:rgba($c8,0.6);
      }
    .c8-bg.bg-perc_50 {
      background-color:rgba($c8,0.5);
      }
    .c8-bg.bg-perc_40 {
      background-color:rgba($c8,0.4);
      }
    .c8-bg.bg-perc_30 {
      background-color:rgba($c8,0.3);
      }
    .c8-bg.bg-perc_20 {
      background-color:rgba($c8,0.2);
      }
    .c8-bg.bg-perc_10 {
      background-color:rgba($c8,0.1);
      }


.c1-bg.has-multiply-overlay::before {
    background-color: $c1;
    background-color: rgba($c1,1);
}

.c2-bg.has-multiply-overlay::before {
    background-color: $c2;
    background-color: rgba($c2,1);
}

.c3-bg.has-multiply-overlay::before {
    background-color: $c3;
    background-color: rgba($c3,1);
}

.c4-bg.has-multiply-overlay::before {
    background-color: $c4;
    background-color: rgba($c4,1);
}

.c5-bg.has-multiply-overlay::before {
    background-color: $c5;
    background-color: rgba($c5,1);
}

.c6-bg.has-multiply-overlay::before {
    background-color: $c6;
    background-color: rgba($c6,1);
}

.c7-bg.has-multiply-overlay::before {
    background-color: $c7;
    background-color: rgba($c7,1);
}

.c8-bg.has-multiply-overlay::before {
    background-color: $c8;
    background-color: rgba($c8,1);
}




/*  --------------------------------------------------
  2.0 TEXT
  -------------------------------------------------- */



  a, a:hover, a:focus, a:active {
    color:$c1; color:rgba($c1,1);
    }

	.heading-text, .panel-heading-text {
		/*.h1, h2, h3, h4, h5, h6, .tables .head { color:$c3; color:rgba($c3,1); }*/
	}
  
.c1-text .share-icons li a {
	color:$c1-op; color:rgba($c1-op,1);
	&:hover { color:rgba($c1-op,0.5); }
}
.c2-text .share-icons li a {
	color:$c2-op; color:rgba($c2-op,1);
	&:hover { color:rgba($c2-op,0.5); }
}
.c3-text .share-icons li a {
	color:$c3-op; color:rgba($c3-op,1);
	&:hover { color:rgba($c3-op,0.5); }
}
.c4-text .share-icons li a {
	color:$c4-op; color:rgba($c4-op,1);
	&:hover { color:rgba($c4-op,0.5); }
}
.c5-text .share-icons li a {
	color:$c5-op; color:rgba($c5-op,1);
	&:hover { color:rgba($c5-op,0.5); }
}
.c6-text .share-icons li a {
	color:$c3-op; color:rgba($c6-op,1);
	&:hover { color:rgba($c6-op,0.5); }
}
.c7-text .share-icons li a {
	color:$c7-op; color:rgba($c7-op,1);
	&:hover { color:rgba($c7-op,0.5); }
}

  .section-container {
	.heading h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .tables .head { color: #303133; }

	.c1-text {
		.heading h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .tables .head, .share-icons li a { color:$c1-op; color:rgba($c1-op,1); }

		&.p-perc_90 { 
			p { color:rgba($c1-op,0.9); }
		}
		&.p-perc_80 { 
			p { color:rgba($c1-op,0.8); }
		}
		&.p-perc_70 { 
			p { color:rgba($c1-op,0.7); }
		}
		&.p-perc_60 { 
			p { color:rgba($c1-op,0.6); }
		}
		&.p-perc_50 { 
			p { color:rgba($c1-op,0.5); }
		}
		&.p-perc_40 { 
			p { color:rgba($c1-op,0.4); }
		}
		&.p-perc_30 { 
			p { color:rgba($c1-op,0.3); }
		}
		&.p-perc_20 { 
			p { color:rgba($c1-op,0.2); }
		}
		&.p-perc_10 { 
			p { color:rgba($c1-op,0.1); }
		}

	}

	.c2-text {
		.heading h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .tables .head, .share-icons li a { color:$c2-op; color:rgba($c2-op,1); }

		&.p-perc_90 { 
			p { color:rgba($c2-op,0.9); }
		}
		&.p-perc_80 { 
			p { color:rgba($c2-op,0.8); }
		}
		&.p-perc_70 { 
			p { color:rgba($c2-op,0.7); }
		}
		&.p-perc_60 { 
			p { color:rgba($c2-op,0.6); }
		}
		&.p-perc_50 { 
			p { color:rgba($c2-op,0.5); }
		}
		&.p-perc_40 { 
			p { color:rgba($c2-op,0.4); }
		}
		&.p-perc_30 { 
			p { color:rgba($c2-op,0.3); }
		}
		&.p-perc_20 { 
			p { color:rgba($c2-op,0.2); }
		}
		&.p-perc_10 { 
			p { color:rgba($c2-op,0.1); }
		}

	}

	.c3-text {
		.heading h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .tables .head, .share-icons li a { color:$c3-op; color:rgba($c3-op,1); }

		&.p-perc_90 { 
			p { color:rgba($c3-op,0.9); }
		}
		&.p-perc_80 { 
			p { color:rgba($c3-op,0.8); }
		}
		&.p-perc_70 { 
			p { color:rgba($c3-op,0.7); }
		}
		&.p-perc_60 { 
			p { color:rgba($c3-op,0.6); }
		}
		&.p-perc_50 { 
			p { color:rgba($c3-op,0.5); }
		}
		&.p-perc_40 { 
			p { color:rgba($c3-op,0.4); }
		}
		&.p-perc_30 { 
			p { color:rgba($c3-op,0.3); }
		}
		&.p-perc_20 { 
			p { color:rgba($c3-op,0.2); }
		}
		&.p-perc_10 { 
			p { color:rgba($c3-op,0.1); }
		}

	}

	.c4-text {
		.heading h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .tables .head, .share-icons li a { color:$c4-op; color:rgba($c4-op,1); }

		&.p-perc_90 { 
			p { color:rgba($c4-op,0.9); }
		}
		&.p-perc_80 { 
			p { color:rgba($c4-op,0.8); }
		}
		&.p-perc_70 { 
			p { color:rgba($c4-op,0.7); }
		}
		&.p-perc_60 { 
			p { color:rgba($c4-op,0.6); }
		}
		&.p-perc_50 { 
			p { color:rgba($c4-op,0.5); }
		}
		&.p-perc_40 { 
			p { color:rgba($c4-op,0.4); }
		}
		&.p-perc_30 { 
			p { color:rgba($c4-op,0.3); }
		}
		&.p-perc_20 { 
			p { color:rgba($c4-op,0.2); }
		}
		&.p-perc_10 { 
			p { color:rgba($c4-op,0.1); }
		}

	}

	.c5-text {
		.heading h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .tables .head, .share-icons li a { color:$c5-op; color:rgba($c5-op,1); }

		&.p-perc_90 { 
			p { color:rgba($c5-op,0.9); }
		}
		&.p-perc_80 { 
			p { color:rgba($c5-op,0.8); }
		}
		&.p-perc_70 { 
			p { color:rgba($c5-op,0.7); }
		}
		&.p-perc_60 { 
			p { color:rgba($c5-op,0.6); }
		}
		&.p-perc_50 { 
			p { color:rgba($c5-op,0.5); }
		}
		&.p-perc_40 { 
			p { color:rgba($c5-op,0.4); }
		}
		&.p-perc_30 { 
			p { color:rgba($c5-op,0.3); }
		}
		&.p-perc_20 { 
			p { color:rgba($c5-op,0.2); }
		}
		&.p-perc_10 { 
			p { color:rgba($c5-op,0.1); }
		}

	}

	.c6-text {
		.heading h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .tables .head, .share-icons li a { color:$c6-op; color:rgba($c6-op,1); }

		&.p-perc_90 { 
			p { color:rgba($c6-op,0.9); }
		}
		&.p-perc_80 { 
			p { color:rgba($c6-op,0.8); }
		}
		&.p-perc_70 { 
			p { color:rgba($c6-op,0.7); }
		}
		&.p-perc_60 { 
			p { color:rgba($c6-op,0.6); }
		}
		&.p-perc_50 { 
			p { color:rgba($c6-op,0.5); }
		}
		&.p-perc_40 { 
			p { color:rgba($c6-op,0.4); }
		}
		&.p-perc_30 { 
			p { color:rgba($c6-op,0.3); }
		}
		&.p-perc_20 { 
			p { color:rgba($c6-op,0.2); }
		}
		&.p-perc_10 { 
			p { color:rgba($c6-op,0.1); }
		}

	}

	.c7-text {
		.heading h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, .tables .head, .share-icons li a { color:$c7-op; color:rgba($c7-op,1); }

		&.p-perc_90 { 
			p { color:rgba($c7-op,0.9); }
		}
		&.p-perc_80 { 
			p { color:rgba($c7-op,0.8); }
		}
		&.p-perc_70 { 
			p { color:rgba($c7-op,0.7); }
		}
		&.p-perc_60 { 
			p { color:rgba($c7-op,0.6); }
		}
		&.p-perc_50 { 
			p { color:rgba($c7-op,0.5); }
		}
		&.p-perc_40 { 
			p { color:rgba($c7-op,0.4); }
		}
		&.p-perc_30 { 
			p { color:rgba($c7-op,0.3); }
		}
		&.p-perc_20 { 
			p { color:rgba($c7-op,0.2); }
		}
		&.p-perc_10 { 
			p { color:rgba($c7-op,0.1); }
		}

	}

  }
  .c1-text, .c1-text:hover, .c1-text:focus, .c1-text:active {
    color:$c1-op; color:rgba($c1-op,1);
    }
    .c1-text.text-perc_90 {
      color:rgba($c1-op,0.9);
      }
    .c1-text.text-perc_80 {
      color:rgba($c1-op,0.8);
      }
    .c1-text.text-perc_70 {
      color:rgba($c1-op,0.7);
      }
    .c1-text.text-perc_60 {
      color:rgba($c1-op,0.6);
      }
    .c1-text.text-perc_50 {
      color:rgba($c1-op,0.5);
      }
    .c1-text.text-perc_40 {
      color:rgba($c1-op,0.4);
      }
    .c1-text.text-perc_30 {
      color:rgba($c1-op,0.3);
      }
    .c1-text.text-perc_20 {
      color:rgba($c1-op,0.2);
      }
    .c1-text.text-perc_10 {
      color:rgba($c1-op,0.1);
      }
      
  .c2-text,
  .c2-text:hover, .c2-text:focus, .c2-text:active {
    color:$c2-op; color:rgba($c2-op,1);
    }
    .c2-text.text-perc_90 {
      color:rgba($c2-op,0.9);
      }
    .c2-text.text-perc_80 {
      color:rgba($c2-op,0.8);
      }
    .c2-text.text-perc_70 {
      color:rgba($c2-op,0.7);
      }
    .c2-text.text-perc_60 {
      color:rgba($c2-op,0.6);
      }
    .c2-text.text-perc_50 {
      color:rgba($c2-op,0.5);
      }
    .c2-text.text-perc_40 {
      color:rgba($c2-op,0.4);
      }
    .c2-text.text-perc_30 {
      color:rgba($c2-op,0.3);
      }
    .c2-text.text-perc_20 {
      color:rgba($c2-op,0.2);
      }
    .c2-text.text-perc_10 {
      color:rgba($c2-op,0.1);
      }
      
  .c3-text,
  .c3-text:hover, .c3-text:focus, .c3-text:active {
    color:$c3-op; color:rgba($c3-op,1);
    }
    .c3-text.text-perc_90 {
      color:rgba($c3-op,0.9);
      }
    .c3-text.text-perc_80 {
      color:rgba($c3-op,0.8);
      }
    .c3-text.text-perc_70 {
      color:rgba($c3-op,0.7);
      }
    .c3-text.text-perc_60 {
      color:rgba($c3-op,0.6);
      }
    .c3-text.text-perc_50 {
      color:rgba($c3-op,0.5);
      }
    .c3-text.text-perc_40 {
      color:rgba($c3-op,0.4);
      }
    .c3-text.text-perc_30 {
      color:rgba($c3-op,0.3);
      }
    .c3-text.text-perc_20 {
      color:rgba($c3-op,0.2);
      }
    .c3-text.text-perc_10 {
      color:rgba($c3-op,0.1);
      }
      
  .c4-text,
  .c4-text:hover, .c4-text:focus, .c4-text:active {
    color:$c4-op; color:rgba($c4-op,1);
    }
    .c4-text.text-perc_90 {
      color:rgba($c4-op,0.9);
      }
    .c4-text.text-perc_80 {
      color:rgba($c4-op,0.8);
      }
    .c4-text.text-perc_70 {
      color:rgba($c4-op,0.7);
      }
    .c4-text.text-perc_60 {
      color:rgba($c4-op,0.6);
      }
    .c4-text.text-perc_50 {
      color:rgba($c4-op,0.5);
      }
    .c4-text.text-perc_40 {
      color:rgba($c4-op,0.4);
      }
    .c4-text.text-perc_30 {
      color:rgba($c4-op,0.3);
      }
    .c4-text.text-perc_20 {
      color:rgba($c4-op,0.2);
      }
    .c4-text.text-perc_10 {
      color:rgba($c4-op,0.1);
      }
      
  .c5-text,
  .c5-text:hover, .c5-text:focus, .c5-text:active {
    color:$c5-op; color:rgba($c5-op,1);
    }  
    .c5-text.text-perc_90 {
      color:rgba($c5-op,0.9);
      }
    .c5-text.text-perc_80 {
      color:rgba($c5-op,0.8);
      }
    .c5-text.text-perc_70 {
      color:rgba($c5-op,0.7);
      }
    .c5-text.text-perc_660 {
      color:rgba($c5-op,0.6);
      }
    .c5-text.text-perc_50 {
      color:rgba($c5-op,0.5);
      }
    .c5-text.text-perc_40 {
      color:rgba($c5-op,0.4);
      }
    .c5-text.text-perc_30 {
      color:rgba($c5-op,0.3);
      }
    .c5-text.text-perc_20 {
      color:rgba($c5-op,0.2);
      }
    .c5-text.text-perc_10 {
      color:rgba($c5-op,0.1);
      }
      
  .c6-text {
    color:$c6-op; color:rgba($c6-op,1); 
    } 
    .c6-text.text-perc_90 {
      color:rgba($c6-op,0.9);
      }
    .c6-text.text-perc_80 {
      color:rgba($c6-op,0.8);
      }
    .c6-text.text-perc_70 {
      color:rgba($c6-op,0.7);
      }
    .c6-text.text-perc_60 {
      color:rgba($c6-op,0.6);
      }
    .c6-text.text-perc_50 {
      color:rgba($c6-op,0.5);
      }
    .c6-text.text-perc_40 {
      color:rgba($c6-op,0.4);
      }
    .c6-text.text-perc_30 {
      color:rgba($c6-op,0.3);
      }
    .c6-text.text-perc_20 {
      color:rgba($c6-op,0.2);
      }
    .c6-text.text-perc_10 {
      color:rgba($c6-op,0.1);
      }
	  
	.c7-text {
    color:$c7-op; color:rgba($c7-op,1);
    } 
    .c7-text.text-perc_90 {
      color:rgba($c7-op,0.9);
      }
    .c7-text.text-perc_80 {
      color:rgba($c7-op,0.8);
      }
    .c7-text.text-perc_70 {
      color:rgba($c7-op,0.7);
      }
    .c7-text.text-perc_60 {
      color:rgba($c7-op,0.6);
      }
    .c7-text.text-perc_50 {
      color:rgba($c7-op,0.5);
      }
    .c7-text.text-perc_40 {
      color:rgba($c7-op,0.4);
      }
    .c7-text.text-perc_30 {
      color:rgba($c7-op,0.3);
      }
    .c7-text.text-perc_20 {
      color:rgba($c7-op,0.2);
      }
    .c7-text.text-perc_10 {
      color:rgba($c7-op,0.1);
      }
  
  

/*  --------------------------------------------------
  3.0 BORDERS
  -------------------------------------------------- */
  
  .c1-borders {
    border-color:$c1; border-color:rgba($c1,1);
    }
    .c1-borders.borders-perc_90 {
      border-color:rgba($c1,0.9);
      }
    .c1-borders.borders-perc_80 {
      border-color:rgba($c1,0.8);
      }
    .c1-borders.borders-perc_70 {
      border-color:rgba($c1,0.7);
      }
    .c1-borders.borders-perc_60 {
      border-color:rgba($c1,0.6);
      }
    .c1-borders.borders-perc_50 {
      border-color:rgba($c1,0.5);
      }
    .c1-borders.borders-perc_40 {
      border-color:rgba($c1,0.4);
      }
    .c1-borders.borders-perc_30 {
      border-color:rgba($c1,0.3);
      }
    .c1-borders.borders-perc_20 {
      border-color:rgba($c1,0.2);
      }
    .c1-borders.borders-perc_10 {
      border-color:rgba($c1,0.1);
      }
      
  .c2-borders {
    border-color:$c2; border-color:rgba($c2,1);
    }
    .c2-borders.borders-perc_90 {
      border-color:rgba($c2,0.9);
      }
    .c2-borders.borders-perc_80 {
      border-color:rgba($c2,0.8);
      }
    .c2-borders.borders-perc_70 {
      border-color:rgba($c2,0.7);
      }
    .c2-borders.borders-perc_60 {
      border-color:rgba($c2,0.6);
      }
    .c2-borders.borders-perc_50 {
      border-color:rgba($c2,0.5);
      }
    .c2-borders.borders-perc_40 {
      border-color:rgba($c2,0.4);
      }
    .c2-borders.borders-perc_30 {
      border-color:rgba($c2,0.3);
      }
    .c2-borders.borders-perc_20 {
      border-color:rgba($c2,0.2);
      }
    .c2-borders.borders-perc_10 {
      border-color:rgba($c2,0.1);
      }
      
  .c3-borders {
    border-color:$c3; border-color:rgba($c3,1);
    }
    .c3-borders.borders-perc_90 {
      border-color:rgba($c3,0.9);
      }
    .c3-borders.borders-perc_80 {
      border-color:rgba($c3,0.8);
      }
    .c3-borders.borders-perc_70 {
      border-color:rgba($c3,0.7);
      }
    .c3-borders.borders-perc_60 {
      border-color:rgba($c3,0.6);
      }
    .c3-borders.borders-perc_50 {
      border-color:rgba($c3,0.5);
      }
    .c3-borders.borders-perc_40 {
      border-color:rgba($c3,0.4);
      }
    .c3-borders.borders-perc_30 {
      border-color:rgba($c3,0.3);
      }
    .c3-borders.borders-perc_20 {
      border-color:rgba($c3,0.2);
      }
    .c3-borders.borders-perc_10 {
      border-color:rgba($c3,0.1);
      }
      
  .c4-borders {
    border-color:$c4; border-color:rgba($c4,1);
    }
    .c4-borders.borders-perc_90 {
      border-color:rgba($c4,0.9);
      }
    .c4-borders.borders-perc_80 {
      border-color:rgba($c4,0.8);
      }
    .c4-borders.borders-perc_70 {
      border-color:rgba($c4,0.7);
      }
    .c4-borders.borders-perc_60 {
      border-color:rgba($c4,0.6);
      }
    .c4-borders.borders-perc_50 {
      border-color:rgba($c4,0.5);
      }
    .c4-borders.borders-perc_40 {
      border-color:rgba($c4,0.4);
      }
    .c4-borders.borders-perc_30 {
      border-color:rgba($c4,0.3);
      }
    .c4-borders.borders-perc_20 {
      border-color:rgba($c4,0.2);
      }
    .c4-borders.borders-perc_10 {
      border-color:rgba($c4,0.1);
      }
    
  .c5-borders {
    border-color:$c5; border-color:rgba($c5,1);
    }
    .c5-borders.borders-perc_90 {
      border-color:rgba($c5,0.9);
      }
    .c5-borders.borders-perc_80 {
      border-color:rgba($c5,0.8);
      }
    .c5-borders.borders-perc_70 {
      border-color:rgba($c5,0.7);
      }
    .c5-borders.borders-perc_60 {
      border-color:rgba($c5,0.6);
      }
    .c5-borders.borders-perc_50 {
      border-color:rgba($c5,0.5);
      }
    .c5-borders.borders-perc_40 {
      border-color:rgba($c5,0.4);
      }
    .c5-borders.borders-perc_30 {
      border-color:rgba($c5,0.3);
      }
    .c5-borders.borders-perc_20 {
      border-color:rgba($c5,0.2);
      }
    .c5-borders.borders-perc_10 {
      border-color:rgba($c5,0.1);
      }
      
  .c6-borders {
    border-color:$c6; border-color:rgba($c6,1);
    } 
    .c6-borders.borders-perc_90 {
      border-color:rgba($c6,0.9);
      }
    .c6-borders.borders-perc_80 {
      border-color:rgba($c6,0.8);
      }
    .c6-borders.borders-perc_70 {
      border-color:rgba($c6,0.7);
      }
    .c6-borders.borders-perc_60 {
      border-color:rgba($c6,0.6);
      }
    .c6-borders.borders-perc_50 {
      border-color:rgba($c6,0.5);
      }
    .c6-borders.borders-perc_40 {
      border-color:rgba($c6,0.4);
      }
    .c6-borders.borders-perc_30 {
      border-color:rgba($c6,0.3);
      }
    .c6-borders.borders-perc_20 {
      border-color:rgba($c6,0.2);
      }
    .c6-borders.borders-perc_10 {
      border-color:rgba($c6,0.1);
      }



/*  --------------------------------------------------
  4.0 BUTTONS
  -------------------------------------------------- */

  .btn.c1-bg:hover, .btn.c1-bg:active, .btn.c1-bg:focus {
    background-color:rgba($c1,0.8);
    }
    
  .btn.c2-bg:hover, .btn.c2-bg:active, .btn.c2-bg:focus {
    background-color:rgba($c2,0.8);
    }
    
  .btn.c3-bg:hover, .btn.c3-bg:active, .btn.c3-bg:focus {
    background-color:rgba($c3,0.8);
    }
    
  .btn.c4-bg:hover, .btn.c4-bg:active, .btn.c4-bg:focus {
    background-color:rgba($c4,0.8);
    }
    
  .btn.c5-bg:hover, .btn.c5-bg:active, .btn.c5-bg:focus {
    background-color:rgba($c5,0.8);
    }
    
  .btn.c6-bg:hover, .btn.c6-bg:active, .btn.c6-bg:focus {
    background-color:rgba($c6,0.8);
    }



/*  --------------------------------------------------
  5.0 LINKS
  -------------------------------------------------- */

  .link.text-uppercase .c1-borders:hover, .link.text-uppercase .btn.c1-borders:active, .link.text-uppercase .btn.c1-borders:focus,
  .link.text-uppercase .c2-borders:hover, .link.text-uppercase .btn.c2-borders:active, .link.text-uppercase .btn.c2-borders:focus,
  .link.text-uppercase .c4-borders:hover, .link.text-uppercase .btn.c4-borders:active, .link.text-uppercase .btn.c4-borders:focus,  
  .link.text-uppercase .c5-borders:hover, .link.text-uppercase .btn.c5-borders:active, .link.text-uppercase .btn.c5-borders:focus {
    border-color:$c3; border-color:rgba($c3,1);
    }
  .link.text-uppercase .c3-borders:hover, .link.text-uppercase .btn.c3-borders:active, .link.text-uppercase .btn.c3-borders:focus {
    border-color:$c3; border-color:rgba($c3,1);
    }


/*  --------------------------------------------------
  6.0 Gradients
  -------------------------------------------------- */

.hero-bg {
    background-image: linear-gradient(to right top, #000000, #010101, #030202, #040304, #050405, #171419, #231f28, #2d2b39, #3c4861, #3d698a, #2e8eaf, #04b4cb);
}
.standard-bg-x3 {
    background-image: linear-gradient(to right top, #000000, #070607, #0e0c0d, #121113, #161517, #181719, #19191b, #1b1b1d, #1b1b1e, #1c1c1f, #1c1c20, #17181b);
}

.standard-bg-x2 {
    background-image: linear-gradient(to right top, #000000, #160e14, #1e1926, #1b263a, #00344b);
}

.standard-bg-blue {
    background-image: linear-gradient(to right top, #04b4cd, #0091ae, #00708d, #00516c, #00344b);
}


/*  --------------------------------------------------
  7.0 Borders
  -------------------------------------------------- */

.highlight-left-thin {
    border-left: 5px solid $c1;
}

.highlight-left-thick {
    border-left: 12px solid $c1;
}

.highlight-right-thin {
    border-right: 5px solid $c1;
}

.highlight-right-thick {
    border-right: 12px solid $c1;
}




/*  --------------------------------------------------
  END
  -------------------------------------------------- */
  

