.has-overlay { 
        &:before {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 300px;
          width: 100%;
          content: " ";
          display: block;
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.05) 28%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0.5) 100%);
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.05) 28%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0.5) 100%);
          background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.05) 28%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0.5) 100%);
          background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.05) 28%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0.5) 100%);
          -webkit-transition: all 100ms ease-out;
          -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
          -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;
        }
        &:after {
          -webkit-transition: all 100ms ease-out;
          -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
          -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.18);
        }
      }

.scrollslides-container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0 36px;
  overflow: hidden;
  .scrollslides-step-wrapper {width:100%; height:100%; position: absolute; left:0; top:0;}
  .scrollslides-step-inner { position: relative; width:100%; height: 100%; }
  .scrollslides-step {position: absolute; top: 50%;transform: translate(-50%,-50%);width: 100%;height: auto;opacity: 0;z-index:10;max-width: 1160px; left:50%;}
  
} 

.scroll-down-line {display: block;width: 2px;height: 60px;background-color: #fff;opacity: .2;position: absolute;left: 50%;}
.scroll-down {position: absolute;left: 50%;margin-left: 0;width: 40px;height: 40px;bottom: 140px;padding-left: 7px;cursor: pointer;z-index: 2;color: #c7c4b8;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;opacity:0;transition: opacity .5s linear;}
.scroll-down.svg svg {width: 80px;opacity: 1;-webkit-transition: opacity .5s;-moz-transition: opacity .5s;-ms-transition: opacity .5s;-o-transition: opacity .5s;transition: opacity .5s;}
.scroll-down.svg .stroke {stroke: #ADA99D;}
.scroll-down.svg .scroller {fill: #ADA99D;-webkit-animation: updown 1.5s infinite;-moz-animation: updown 1.5s infinite;-o-animation: updown 1.5s infinite;animation: updown 1.5s infinite;top:-12px;left: 50%;position: absolute;margin-left: -39px;}




.banner, .hero-wrapper {
  
  .hero-slide {
    position: relative;

    .info {
      width:100%; z-index:100; position:absolute; top:0; bottom:0; left:0; padding:0;

      .container {
        height: 100%; width:100%; padding-left: 36px; padding-right: 36px;
        //@media (min-width: 1200px) { width: 100%; }
        //@media (max-width: 1200px) { width: 970px; }
        //@media (max-width: 768px) { width: 750px; }

        .table {
          display: table; width: 100%; max-width: 100%; height: 100%; margin: 0;

          .table-cell {
             padding: 0;
            
            &.align-middle {
              display: table-cell; vertical-align: middle; max-width:1280px;
            }

            &.align-bottom {
              display: table-cell; vertical-align: bottom; padding-bottom: 108px; max-width:1280px;
            }

            &.align-top {
              display: table-cell; vertical-align: top; padding-top: 108px; max-width:1280px;
            }

            &.text-left {
              @include breakpoint($mobile) { padding: 63px 0px; }
              @include breakpoint($tablet) { padding: 63px 108px; }
              @include breakpoint($desktop) { padding: 108px; }
            }

            &.text-right {
              @include breakpoint($mobile) { padding: 63px 0px; }
              @include breakpoint($tablet) { padding: 63px 108px; }
              @include breakpoint($desktop) { padding: 108px; }
            }

            .text {
              margin-top: 27px;
            }

          }

        }

      }

    }

  }

}

.table-cell {

  h2, h1 { padding-top: 0; font-family: $header-font-family; font-weight: 700; letter-spacing: 0; color: #fff; margin:0; max-width: 1100px; position: relative;
        @include breakpoint($mobile) { @include adjust-font-size-to( 35px, 2 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 42px, 2.2 ) }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
          @include font-size-important( 42px, 2.2 );
        }
        @include breakpoint($desktop) { @include adjust-font-size-to( 100px, 5.5 ) }
        @include breakpoint($desktop-wide) { @include adjust-font-size-to( 100px, 5.5 ) }
    }

  h3 { padding-top: 0; font-family: $header-font-family; font-weight: 700; letter-spacing: 0; color: #fff; margin:0; max-width: 1100px; position: relative;
        @include breakpoint($mobile) { @include adjust-font-size-to( 35px, 2 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 42px, 2.2 ) }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
          @include font-size-important( 42px, 2.2 );
        }
        @include breakpoint($desktop) { @include adjust-font-size-to( 42px, 2.2 ) }
        @include breakpoint($desktop-wide) { @include adjust-font-size-to( 42px, 2.2 ) }
    }

  h4 { font-family: $header-font-family; font-weight: 400; letter-spacing: 0; color: #fff; margin:0; max-width: 600px;
        @include leader(1, $h4-font-size);
        @include trailer(0, $h4-font-size);
        @include breakpoint($mobile) { @include adjust-font-size-to( 26px, 1.4 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 24px, 2 ) }
        @include breakpoint($desktop) { @include adjust-font-size-to( 35px, 2.2 ) }
    }

  h5 { font-family: $header-font-family; font-weight: 400; letter-spacing: 0; color: #fff; margin:0; max-width: 600px;
        @include leader(1, $h5-font-size);
        @include trailer(0, $h5-font-size);
        @include breakpoint($mobile) { @include adjust-font-size-to( 22px, 1.4 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 20px, 1.4 ) }
        @include breakpoint($desktop) { @include adjust-font-size-to( 24px, 2 ) }
    }

  &.text-center {
    h1, h2, h3, h4, h5, p { margin: 0 auto; }
  }

  &.style-light {
    h1, h2, h3, h4, h5, p { color: #313234; }
  }

  &.style-dark {
    h1, h2, h3, h4, h5, p { color: #fff; }
  }

}

.banner {
  background: #333;
  height: 75vh;
  width: 100%; 
  z-index: 1;
  display: block;
  overflow: hidden;
  margin:0;
  //display: table;
  
  &.full-height {
    height: 100vh;
  }
  
  &.three-quater-height {
    height: 75vh;
  }

  &.half-height {
    height: 45vh;
  }
  
  &.quarter-height {
    height: 25vh;
  }
  
  .slides {
    height: 100%;
    .hero-slide {
      height: 100%;
      width: 100%;
      position: relative;
    }
  }
  
  .hero-text {
    //display: table-cell;
    -webkit-transition: all .2s;
    transition: all .2s;
    //text-align: center;

    
    &.align-middle-center {
      //vertical-align: middle;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      text-align: center;
      //padding: 40px 11%;
      h2 { padding-top: 0; font-family: $header-font-family; font-weight: 700; letter-spacing: 0; color: #fff; margin:0 auto; max-width: 1400px; position: relative;
        @include breakpoint($mobile) { @include adjust-font-size-to( 35px, 2 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 42px, 2.2 ) }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
          @include font-size-important( 42px, 2.2 );
        }
        @include breakpoint($desktop) { @include adjust-font-size-to( 100px, 5.5 ) }
        @include breakpoint($desktop-wide) { @include adjust-font-size-to( 125px, 6.5 ) }
        &.has-underscore {
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            height: 2px;
            width: 100px;
            border-bottom: 2px solid #00b3cf;
          }
        }
      }
      
      h3 { padding-top: 0; font-family: $header-font-family; font-weight: 700; letter-spacing: 0; color: #fff; margin:0 auto; max-width: 1400px; position: relative;
        @include breakpoint($mobile) { @include adjust-font-size-to( 35px, 2 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 42px, 2.2 ) }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
          @include font-size-important( 42px, 2.2 );
        }
        @include breakpoint($desktop) { @include adjust-font-size-to( 42px, 2.2 ) }
        @include breakpoint($desktop-wide) { @include adjust-font-size-to( 42px, 2.2 ) }
        &.has-underscore {
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            height: 2px;
            width: 100px;
            border-bottom: 2px solid #00b3cf;
          }
        }
      }
      
      h5 { font-family: $header-font-family; font-weight: 400; letter-spacing: 0; color: #fff; margin:0 auto; max-width: 600px;
        @include leader(1, $h5-font-size);
        @include trailer(0, $h5-font-size);
        @include breakpoint($mobile) { @include adjust-font-size-to( 22px, 1.4 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 22px, 1.4 ) }
        @include breakpoint($desktop) { @include adjust-font-size-to( 24px, 2 ) }
      }
      
    }
    
    &.align-left {
      vertical-align: bottom;
      margin: 0;
      text-align: left;
      padding: 108px 108px;
      @include breakpoint($mobile) { padding: 63px 36px; }
      @include breakpoint($tablet) { padding: 63px 108px; }
      @include breakpoint($desktop) { padding: 108px; }
      h2 {
        font-family: $header-font-family; font-weight: 700; letter-spacing: -0.05em; color: #fff; margin:0;
        @include breakpoint($mobile) { @include adjust-font-size-to( 35px, 2.2 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 42px, 2.2 ); }
        @include breakpoint($desktop) { @include adjust-font-size-to( 50px, 3 ); }
        
        &.has-underscore {
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -20px;
            transform: translateX(0);
            height: 2px;
            width: 100px;
            border-bottom: 2px solid #00b3cf;
          }
        }
        
      }
      
    }
    
  }
}

.hero-wrapper {
  background: #333;
  height: 70vh;
  width: 100vw; 
  z-index: 1;
  display: block;
  overflow: hidden;
  display: table;
  
  &.full-height {
    height: 100vh;
  }
  
  &.half-height {
    height: 45vh;
  }
  
  &.quarter-height {
    height: 25vh;
  }
  
  .slides {
    height: 100%;
    .hero-slide {
      height: 100%;
      width: 100%;
      position: relative;
    }
  }
  
  .hero-text {
    display: table-cell;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: center;

    
    &.align-middle-center {
      vertical-align: middle;
      margin: 0 auto;
      text-align: center;
      padding: 40px 11%;
      h2 { padding-top: 70px; font-family: $header-font-family; font-weight: 700; letter-spacing: 0; color: #fff; margin:0 auto; max-width: 1400px; position: relative;
        @include breakpoint($mobile) { @include adjust-font-size-to( 30px, 2 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 42px, 2.2 ) }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
          @include font-size-important( 42px, 2.2 );
        }
        @include breakpoint($desktop) { @include adjust-font-size-to( 100px, 5.5 ) }
        @include breakpoint($desktop-wide) { @include adjust-font-size-to( 125px, 6.5 ) }
        &.has-underscore {
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            height: 2px;
            width: 100px;
            border-bottom: 2px solid #00b3cf;
          }
        }
      }
      
      h5 { font-family: $header-font-family; font-weight: 400; letter-spacing: 0; color: #fff; margin:0 auto; max-width: 600px;
        @include leader(1, $h5-font-size);
        @include trailer(0, $h5-font-size);
        @include breakpoint($mobile) { @include adjust-font-size-to( 20px, 1.4 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 20px, 1.4 ) }
        @include breakpoint($desktop) { @include adjust-font-size-to( 24px, 2 ) }
      }
      
    }
    
    &.align-left {
      vertical-align: bottom;
      margin: 0;
      text-align: left;
      padding: 108px 108px;
      @include breakpoint($mobile) { padding: 63px 36px; }
      @include breakpoint($tablet) { padding: 63px 108px; }
      @include breakpoint($desktop) { padding: 108px; }
      h2 {
        font-family: $header-font-family; font-weight: 700; letter-spacing: -0.05em; color: #fff; margin:0;
        @include breakpoint($mobile) { @include adjust-font-size-to( 35px, 2.2 ) }
        @include breakpoint($tablet) { @include adjust-font-size-to( 42px, 2.2 ); }
        @include breakpoint($desktop) { @include adjust-font-size-to( 50px, 3 ); }
        
        &.has-underscore {
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -20px;
            transform: translateX(0);
            height: 2px;
            width: 100px;
            border-bottom: 2px solid #00b3cf;
          }
        }
        
      }
      
    }
    
  }
}

.hero-slide.has-multiply-overlay {
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: " ";
        display: block;
        mix-blend-mode: multiply;
        -webkit-transition: all 100ms ease-out;
        -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
        -o-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
        z-index: 100;
    }

    .grid-container {
        z-index: 101;
    }
}

.fa-rounded {
  color: #fff!important;
  background-color: transparent!important;
  border-color: #fff!important;
  -webkit-transition: color 200ms cubic-bezier(0.785,0.135,0.15,0.86),background-color 200ms cubic-bezier(0.785,0.135,0.15,0.86);
  -moz-transition: color 200ms cubic-bezier(0.785,0.135,0.15,0.86),background-color 200ms cubic-bezier(0.785,0.135,0.15,0.86);
  -o-transition: color 200ms cubic-bezier(0.785,0.135,0.15,0.86),background-color 200ms cubic-bezier(0.785,0.135,0.15,0.86);
  transition: color 200ms cubic-bezier(0.785,0.135,0.15,0.86),background-color 200ms cubic-bezier(0.785,0.135,0.15,0.86);
     position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    border: 2px solid #c0c0c0;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    -o-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    border-radius: 2.5em;
    font-size: 2em;
    @include leader(1, $h5-font-size);
    @include breakpoint($mobile) { width: 1.5em; height: 1.5em; line-height: 1.5em; }
    @include breakpoint($tablet) { width: 1.5em; height: 1.5em; line-height: 1.5em; }
    @include breakpoint($desktop) { width: 2.5em; height: 2.5em; line-height: 2.5em; }
    &:hover {
      color: #303133!important;
      background-color: #fff!important;
      border-color: #fff!important;
    }
}

/*  --------------------------------------------------
    5.10 SLICK CAROUSEL NAVIGATION            
    -------------------------------------------------- */
    
  .slick-prev, .slick-next {    
      display: table;
    }
  .slick-prev i, .slick-next i {
    position:relative;
    margin:0!important;
    display:block;
    text-align:center;
      display: table-cell;
      vertical-align: middle;
    }
    
  .slick-prev, .slick-next {
    width:50px; height:50px;
    position:absolute; top:42.5%; z-index:200;
    background:none;
    border:0 none;
    cursor:pointer;
    
    background-color:rgba(43,43,43,0.8);
    color:#141516; color:rgba(255,255,255,1);
    }   
  .slick-prev {
    left:0;
    background-color:rgba(43,43,43,0.4);
    }
  .slick-next {
    right:0;
    }
  .slick-prev:hover, .slick-next:hover {
    background-color:#2b2b2b; background-color:rgba(43,43,43,1);
    }
    
  .slick-prev i, .slick-next i {
    font-size:20px;
    }
  
    
  .banner .slick-prev, .banner .slick-next {
    top:auto; bottom:0;
    width:50px; height:50px;
    }
  .banner .slick-prev {
    right:50px; left:auto;
    }
  .banner .slick-next {
    right:36px; left:auto;
    }
  .banner .slick-prev i, .banner .slick-next i {
    }
    
  .image-carousel .slides {
    padding-bottom:40px;
    }
  .image-carousel .slick-prev, .image-carousel .slick-next {
    top:auto; bottom:0;
    width:40px; height:40px;
    }
  .image-carousel .slick-prev {
    right:41px; left:auto;
    }
  .image-carousel .slick-next {
    right:1px; left:auto;
    }   
    
  ul.slick-dots {
    position:absolute; bottom:36px; left:36px;
    width:100%;
    margin:0;
    }
  ul.slick-dots li {
    margin:0; margin-right:10px;
    float:left;
    width:10px; height:10px;
    }
  ul.slick-dots li button {
    border-radius:50%;
    width:12px; height:12px;
    background-color:rgba(43,43,43,0.4);
    
    -webkit-transition:background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    -moz-transition:background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    -ms-transition:background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    transition:background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    } 
  ul.slick-dots li.slick-active button {
    background-color:#2b2b2b; background-color:rgba(43,43,43,1);
    }
    
  .banner ul.slick-dots li button,
  .c1-bg ul.slick-dots li button, .c2-bg ul.slick-dots li button, .c3-bg ul.slick-dots li button {
    background-color:rgba(255,255,255,0.4);
    }
  .banner ul.slick-dots li.slick-active button,
  .c1-bg ul.slick-dots li.slick-active button, .c2-bg ul.slick-dots li.slick-active button, .c3-bg ul.slick-dots li.slick-active button {
    background-color:#141516; background-color:rgba(255,255,255,1);
    }
    
  .banner ul.slick-dots li:nth-child(1) {
    margin-left:15px;
    }
  .image-carousel ul.slick-dots {
    position:relative; bottom:auto; left:auto; top:19px;
    }
    
    
  @media (min-width:992px) {
    
  .banner .slick-prev, .banner .slick-next {
    width:70px; height:70px;
    }
  .banner .slick-prev {
    right:106px;
    }
    
  }  


  /* SCROLL PROMPT */ 
  .banner .scroll-prompt {
    position:absolute; right:0; bottom:108px; left:0; z-index:100;
    width:100%;
    
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
      animation-name: fadeIn;



    } 
  .apc.banner .scroll-prompt a {
    display:inline-block; 
    width:100%; height:40px;
    margin:0 auto;
    cursor:pointer;
    text-decoration:none!important;
    }
  .apc.banner .scroll-prompt a i {
    font-size:30px;
    line-height:40px;
    display:block;
    padding:0; margin:0 0 0 2px;
    }
    
  .apc.banner .scroll-prompt .mouse-scroll {
    position:relative;
    width:21px; height:35px;
    margin:0 auto;
    border-width:2px; border-style:solid; border-color:#141516; border-color:rgba(255,255,255,1);
    border-radius:10px;
    } 
  .apc.banner .scroll-prompt .mouse-scroll::before {
    content:"";
    position:absolute; top:10px; left:7px;
    width:3px; height:6px;
    border-radius:50%;
    background-color:#141516; background-color:rgba(255,255,255,1);
    
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 1.25s;
      animation-duration: 1.25s;
      -webkit-animation-delay: 3s;
      animation-delay: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
    }
    
@-webkit-keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@-moz-keyframes updown {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -moz-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@-o-keyframes updown {
    0% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
    