.radius-top-left {
    border-top-left-radius: 20px;
}

.radius-top-right {
    border-top-right-radius: 20px;
}

.radius-bottom-left {
    border-bottom-left-radius: 20px;
    
}

.radius-bottom-right {
    border-bottom-right-radius: 20px;
  
}

.radius {
    border-radius: 20px;
}



.shadow-large-bottom {
    box-shadow: 0 14px 90px rgba(26,87,120,.26);
}

.text-shadow-large-bottom {
    text-shadow: 17px 10px 20px rgba(0, 0, 0, 0.8);
}
