

/* Reusable column setup */
.row                { @include pie-clearfix; }
.row .row_inner     { margin:0 !important; overflow:hidden; float:left; display:inline; width: 100%}
.lt-ie8 .container  { width: 1280px; }
//.lt-ie8 .col        { margin-left:0; border-right: 18px solid #fff; border-left: 0;
                      //&:last-child {  margin-left: 0px; border-right: 0; border-left: 0; background: #333; overflow: hidden;  }
                    //}
//.lt-ie8 .row  { margin-left: 0; }
//.lt-ie8 .mainContainer  { margin-right: -28px }
//.lt-ie8 .container  { width: 1000px; background: #eee }


//MOBILE
@include breakpoint($mobile) {
  
    body {
      //font-size: 87.5%;
    }
    .row                { margin-left:-$mobile-gutter-px; }
    .col                { border-left-width:$mobile-gutter-px; border-left-style: solid; padding:0 0px; }
    .container-wrapper  { padding: $mobile-padding; }
  
    //.container, .caption-container          { width: 320px; max-width: 320px; }
    
    //.right              { float: left; margin-left:0; width: 100% !important; }
    .left_inner         { padding-right:0 !important; }
    .right_inner         { padding-left:0 !important; }
    
   
    
    //GRIDS
    .grid_1             { @include span(6, 0, $mobile-gutter-px, 0, $mobile-max-columns); }
    .grid_2             { @include span(6, 0, $mobile-gutter-px, 0, $mobile-max-columns); }
    .grid_3             { @include span(6, 0, $mobile-gutter-px, 0, $mobile-max-columns); }
    .grid_4             { @include span(6, 0, $mobile-gutter-px, 0, $mobile-max-columns); }
    .grid_5             { @include span(6, 0, $mobile-gutter-px, 0, $mobile-max-columns); }
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12            { @include span(6, 0, $mobile-gutter-px, 0, $mobile-max-columns); }
    .first_grid         { @include grid_first($mobile-gutter-px * 2, $tablet-gutter-px); margin-top: 0 !important; }
    .mobile-two         { @include span(3, 0, $mobile-gutter-px, 0, $mobile-max-columns); }
    .mobile-three       { @include span(2, 0, $mobile-gutter-px, 0, $mobile-max-columns); }
    
    .block_1,
    .block_2,
    .block_2_5,
    .block_3,
    .block_4,
    .block_5,
    .block_6,
    .block_7,
    .block_8,
    .block_9,
    .block_10,
    .block_11,
    .block_12           { width: 100%; float: left; margin-top: $desktop-gutter-px / 2; margin-bottom: $desktop-gutter-px / 2; }
    
    .show-small        { display:block !important; }
    .show-phone         { display:block !important; }
    .show-tablet        { display:inherit !important; }
    .show-screen        { display:none !important; }
        
    .hide-phone         { display:none !important; }
    .hide-tablet        { display:none !important; }
    .hide-screen        { display:inherit !important; }
    .hide-for-small     { display:none !important; }
    
    .mobile-align-left { text-align:  left !important; }
   

}

//TABLET
@include breakpoint($tablet) {
    
    body {
      font-size: 93.75%;
    }
  
    .row                { margin-left:-$tablet-gutter-px; }
    .col                { border-left-width:$tablet-gutter-px; border-left-style: solid; padding:0 0px; }
    .container-wrapper  { padding: $tablet-padding; }
    
    //.container, .caption-container          { width: 750px; max-width: 750px; }
    
    //GRIDS
    .grid_1             { @include span(1, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_2             { @include span(2, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_3             { @include span(3, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_4             { @include span(4, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_5             { @include span(5, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_6             { @include span(6, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_7             { @include span(7, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_8             { @include span(8, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_9             { @include span(9, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_10            { @include span(10, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_11            { @include span(11, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .grid_12            { @include span(12, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    
    .tablet-one         { @include span(12, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .tablet-two         { @include span(6, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .tablet-three         { @include span(4, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .tablet-four         { @include span(3, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    
    .portrait-tablet-one         { @include span(12, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .portrait-tablet-two         { @include span(6, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .portrait-tablet-three         { @include span(4, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    .portrait-tablet-four         { @include span(3, 0, $tablet-gutter-px, 0, $tablet-max-columns); }
    
    
    .first_grid         { @include grid_first($tablet-gutter-px * 2, $tablet-gutter-px); }
    
    
    
    .pull_8, .pull_9    { margin-left: -100%; }
    .push_3             { margin-left: 25%;  }
    .push_4             { margin-left: 33.33333%;  }
    
    .block_1            { width: 8.33333%; float: left; }
    .block_2            { width: 16.66667%; float: left; }
    .block_2_5          { width: 20%; float: left; }
    .block_3            { width: 25%; float: left; }
    .block_4            { width: 33.33333%; float: left; }
    .block_5            { width: 41.66667%; float: left; }
    .block_6            { width: 50%; float: left; }
    .block_7            { width: 58.33333%; float: left; }
    .block_8            { width: 66.66667%; float: left; }
    .block_9            { width: 75%; float: left; }
    .block_10           { width: 83.33333%; float: left; }
    .block_11           { width: 91.66667%; float: left; }
    .block_12           { width: 100%; float: left; }
    
    .show-small        { display:block !important; }
    .show-phone         { display:none !important; }
    .show-tablet        { display:block !important; }
    .show-screen        { display:inherit !important; }
        
    .hide-phone         { display:inherit !important; }
    .hide-tablet        { display:none !important; }
    .hide-screen        { display:none !important; }
    .hide-for-small         { display:none !important; }
    .hide-for-tablet         { display:none !important; }
    
    .pull_9             { margin-left: -100%; }
    .push_3             { margin-left: 25%; }
   

 
}

//TABLET PORTRAIT
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .row                { margin-left:-$desktop-gutter-px; }
    .col                { border-left-width:$desktop-gutter-px; border-left-style: solid; padding:0 0; }
    .container-wrapper  { padding: $desktop-padding; overflow-x:hidden; z-index: 10 }
    
    //.container          { width: 774px; max-width: 774px; }
    
    //GRIDS
    .grid_1             { @include span(1, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_2             { @include span(2, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_3             { @include span(6, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_4             { @include span(4, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_5             { @include span(5, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_6             { @include span(6, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_7             { @include span(7, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_8             { @include span(8, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_9             { @include span(9, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_10            { @include span(10, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_11            { @include span(11, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_12            { @include span(12, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    
}

//TABLET LANDSCAPE
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .row                { margin-left:-$desktop-gutter-px; }
    .col                { border-left-width:$desktop-gutter-px; border-left-style: solid; padding:0 0; }
    .container-wrapper  { padding: $desktop-padding; overflow-x:hidden; z-index: 10 }
    
    //.container          { width: 774px; max-width: 774px; }
    
    //GRIDS
    .grid_1             { @include span(1, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_2             { @include span(2, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_3             { @include span(6, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_4             { @include span(4, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_5             { @include span(5, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_6             { @include span(6, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_7             { @include span(7, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_8             { @include span(8, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_9             { @include span(9, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_10            { @include span(10, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_11            { @include span(11, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_12            { @include span(12, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
}


//DESKTOP 
@include breakpoint($desktop) {
    
    .row                { margin-left:-$desktop-gutter-px; }
    .col                { border-left-width:$desktop-gutter-px; border-left-style: solid; padding:0 0; }
    .container-wrapper  { padding: $desktop-padding; overflow-x:hidden; z-index: 10 }
    
    //.container          { width: 774px; max-width: 774px; }
    
    //GRIDS
    .grid_1             { @include span(1, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_2             { @include span(2, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_3             { @include span(3, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_4             { @include span(4, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_5             { @include span(5, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_6             { @include span(6, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_7             { @include span(7, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_8             { @include span(8, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_9             { @include span(9, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_10            { @include span(10, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_11            { @include span(11, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_12            { @include span(12, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    
    
    
    .first_grid         { @include grid_first($desktop-gutter-px * 2, $desktop-gutter-px); }
    
    
    .pull_8, .pull_9    { margin-left: -100%; }
    .push_3             { margin-left: 25%;  }
    .push_4             { margin-left: 33.33333%;  }
    
    .block_1            { width: 8.33333%; float: left; }
    .block_2            { width: 16.66667%; float: left; }
    .block_2_5          { width: 20%; float: left; }
    .block_3            { width: 25% !important; float: left; margin-top: $desktop-gutter-px / 2; margin-bottom: $desktop-gutter-px / 2; }
    .block_4            { width: 33.33333% !important; float: left; }
    .block_5            { width: 41.66667% !important; float: left; }
    .block_6            { width: 50%; float: left; }
    .block_7            { width: 58.33333%; float: left; }
    .block_8            { width: 66.66667%; float: left; }
    .block_9            { width: 75%; float: left; }
    .block_10           { width: 83.33333%; float: left; }
    .block_11           { width: 91.66667%; float: left; }
    .block_12           { width: 100%; float: left; }
    
    .show-phone         { display:none !important; }
    .show-tablet        { display:none !important; }
    .show-screen        { display:inherit !important; }
        
    .hide-phone         { display:inherit !important; }
    .hide-tablet        { display:inherit !important; }
    .hide-screen        { display:none !important; }

    
    .pull_9             { margin-left: -100%; }
    .push_3             { margin-left: 25%;  }
    
    #main-container  { margin-top:$desktop-gutter-px / 2; padding-top: $desktop-gutter-px / 2;  }

}

//DESKTOP 
@include breakpoint($desktop-wide) {
    
    .row                { margin-left:-$desktop-gutter-px; }
    .col                { border-left-width:$desktop-gutter-px; border-left-style: solid; padding:0 0; }
    .container-wrapper  { padding: $desktop-padding; overflow-x:hidden; z-index: 10 }
    
    //.container          { width: 774px; max-width: 774px; }
    
    //GRIDS
    .grid_1             { @include span(1, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_2             { @include span(2, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_3             { @include span(3, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_4             { @include span(4, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_5             { @include span(5, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_6             { @include span(6, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_7             { @include span(7, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_8             { @include span(8, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_9             { @include span(9, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_10            { @include span(10, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_11            { @include span(11, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    .grid_12            { @include span(12, 0, $desktop-gutter-px, 0, $desktop-max-columns); }
    
    
    
    .first_grid         { @include grid_first($desktop-gutter-px * 2, $desktop-gutter-px); }
    
    
    .pull_8, .pull_9    { margin-left: -100%; }
    .push_3             { margin-left: 25%;  }
    .push_4             { margin-left: 33.33333%;  }
    
    .block_1            { width: 8.33333%; float: left; }
    .block_2            { width: 16.66667%; float: left; }
    .block_2_5          { width: 20%; float: left; }
    .block_3            { width: 25% !important; float: left; margin-top: $desktop-gutter-px / 2; margin-bottom: $desktop-gutter-px / 2; }
    .block_4            { width: 33.33333% !important; float: left; }
    .block_5            { width: 41.66667% !important; float: left; }
    .block_6            { width: 50%; float: left; }
    .block_7            { width: 58.33333%; float: left; }
    .block_8            { width: 66.66667%; float: left; }
    .block_9            { width: 75%; float: left; }
    .block_10           { width: 83.33333%; float: left; }
    .block_11           { width: 91.66667%; float: left; }
    .block_12           { width: 100%; float: left; }
    
    .show-phone         { display:none !important; }
    .show-tablet        { display:none !important; }
    .show-screen        { display:inherit !important; }
        
    .hide-phone         { display:inherit !important; }
    .hide-tablet        { display:inherit !important; }
    .hide-screen        { display:none !important; }

    
    .pull_9             { margin-left: -100%; }
    .push_3             { margin-left: 25%;  }
    
    #main-container  { margin-top:$desktop-gutter-px / 2; padding-top: $desktop-gutter-px / 2;  }

}

.row-inner {
    position: relative;
    //display: table;
    table-layout: fixed;
    height: 100%;
    min-width: 100%;
    width: auto;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

.row-container {
    position: relative;
    clear: both;
    border: 0;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 36px 36px 36px 36px;
    display: block;
    height: auto;
    width: 100%;
    vertical-align: top;
    position: relative;
    float: left;
    
}

@media (min-width: 960px) {
  .col-lg-0, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      display: table-cell;
      height: 100%;
  }
}

@media (min-width: 960px) {
  .col-lg-12 {
      width: 100%;
  }
}
@media (min-width: 960px) {
  .col-lg-12{width:100%;}
  .col-lg-11{width:91.66666666666666%;}
  .col-lg-10{width:83.33333333333334%;}
  .col-lg-9{width:75%;}
  .col-lg-8{width:66.66666666666666%;}
  .col-lg-7{width:58.333333333333336%;}
  .col-lg-6{width:50%;}
  .col-lg-5{width:41.66666666666667%;}
  .col-lg-4{width:33.33333333333333%;}
  .col-lg-3{width:25%;}
  .col-lg-2{width:16.666666666666664%;}
  .col-lg-1{width:8.333333333333332%;}
}

